# Ignore bundler config.
/.bundle

# Ignore Byebug command history file.
.byebug_history

/app/assets/images/temp
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/test
!/log/.keep
!/tmp/.keep
/coverage
/config/database.yml
/config/secrets.yml
/config/cloudinary.yml
/public/uploads/*
tags
.idea
*.iml
*.~
